body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind utilities;
@tailwind components;

.resCont {
  @apply lg:w-[calc(100vw_-_240px)] md:w-[calc(100vw_-_75px)] ml-auto  w-full;
}

.make-center {
  @apply flex items-center justify-center;
}

::-webkit-scrollbar {
  display: none;
}
